<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pagina de Pedidos</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @*<link href="~/Content/login.css" rel="stylesheet" />*@
    <link href="~/Content/estilos.css" rel="stylesheet" />
</head>
<body>
    @if (Session["iduss"] != null)
    {
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container-fluid header">
            <a class="navbar-brand pr-3" style="margin-right: 5rem;" href="/Pedido/Index/"><i class="fas fa-hotdog"></i> Pedidos Ñam</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @*se puede usar con el nombre de tipousuario*@
                    @if (Session["tipouss"].ToString() == "1")
                    {

                        @Html.Partial("_menuAdmin");
                    }
                    @if (Session["tipouss"].ToString() == "2")
                    {

                        @Html.Partial("_menuVendedor");
                    }
                </ul>
                <div >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item li">
                            <a class="nav-link active">@Session["Nombre"]</a>
                        </li>
                        <li class="nav-item li">
                            <a class="nav-link active" href="@Url.Action("Logout","Usuario")">Salir <i class="fa fa-power-off" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <div class="container-fluid body-content main">
        @RenderBody()
    </div>
    <footer class="bg-light text-center footer">
        <div class="h-100  d-flex justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.2);">
            <p>&copy; @DateTime.Now.Year - Copyright: Instituto Profesional Virgino Gómez</p>
        </div>
    </footer>      
    }else{
        Response.Redirect("~/Usuario/Login");
    }
</body>
</html>